@use '../variables'

.navbar
  background: variables.$off-white
  position: fixed
  top: 0
  left: 0
  right: 0

.container_navbar
  display: flex
  align-items: center
  justify-content: space-between
  padding: 32px 16px
  height: 58px

.navbar_menu
  display: flex

.navbar_menu_item
  margin-left: 40px

@media all and (max-width: variables.$small)
  .navbar_menu
    flex-direction: column
    background: variables.$off-white
    gap: 20px
    z-index: 10